<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GithubLink" value="https://github.com/JBStokley"/>
    <add key="LinkedinLink" value="https://www.linkedin.com/in/jacob-stokley-3b17a74a/" />
    <add key="CreatorName" value="J. Ben Stokley" />
    <add key="ChangeAllowedCharacters" value="Please enter the new allowed characters." />
    <add key="ChangeAllowedCharactersError" value="Something went wrong, the new allowed characters could not be saved." />
    <add key="ChangeCharacterNumber" value="Please enter the length of the string." />
    <add key="ChangeCharacterNumberError" value="Something went wrong, the new string length could not be saved." />
    <add key="ChangeGuessNumber" value="Please enter the number of allowed guesses." />
    <add key="ChangeGuessNumberError" value="Something went wrong, the new number of guesses could not be saved." />
    <add key="BackToMainMenu" value="Press any key to return to the Main Menu..." />
    <add key="GameOver" value="Oh no! You couldn't guess the string in time! It was '{0}'" />
    <add key="GuessPrompt" value="Guess {0} of {1}&#13;&#10;Please enter your guess:" />
    <add key="Instructions" value="TODO" />
    <add key="MainMenuPrompt" value="Please select one of the following options:" />
    <add key="GameStart" value="Try to guess the secret string!&#13;&#10;Valid Characters: '{0}'&#13;&#10;String Length: '{1}'&#13;&#10;Guesses Allowed:'{2}" />
    <add key="QuitPrompt" value="Are you sure you want to quit? [y/n]" />
    <add key="Welcome" value="Welcome to MASTERMIND!" />
    <add key="Success" value="Huzzah! You Win!" />
    <add key="SettingsFile" value="Settings.xml" />
    <add key="StatsFile" value="Stats.xml" />
    <add key="SuccessPrompt" value="You guessed the secret string!&#13;&#10;It was: '{0}'&#13;&#10;You guessed it in {1}/{2} guesses!" />
    <add key="BadOption" value="Sorry, I couldn't understand that. Please try again."/>
    <add key="SettingsPrompt" value="Current Settings&#13;&#10;Allowed Characters: {0} | String Length: {1} | Number of Guesses: {2}&#13;&#10;Please choose one of the following options:"/>
    <add key="ResetSettings" value="The game settings have been reset to their default values."/>
  </appSettings>
</configuration>